@chasert "utf-8";



/* 共通 */
html{
    height: 100%;
}

body{
    max-width: 1280px;
    height: 100%;
    background:linear-gradient(#3C4767 65%,#DF563B);
}

.mainLogo{
    margin: 0 auto;
    width: 200px;
    height: 100px;
    position: relative;
    top:30px;
}


/* ログインフォーム */
.loginMainVisual{
    margin: 0 auto;
    text-align: center;
    background: #0000002B;
    opacity:0.9;
    width: 280px;
    height: 333px;
    position: relative;
    top:100px;
}

.dawnH{
    color:  White;
    padding: 35px 60px 35px 60px;
    font: normal normal normal 14px/21px Meiryo;
}

.dawnWelcome{
    font: normal normal normal 28px/42px Meiryo;
    text-align: center;
    color:  White;
    position: relative;
    top:25px;

}
.mailPass{
    width: 245px;
    display:flex;
    flex-flow: column;
    padding: 0px 18px 0px 5px;
}

.content{
    color:  White;
    margin:0 auto;
    width:50%;
}

.content label{
    float: left;
}

.loginBottom{
    margin-left: 48%;
    padding: 10px;
}

.textColor{
    text-decoration:none;
    padding: 50px 30px 20px 30px;
    font: normal normal normal 12px/18px Meiryo;
}
.newUserBottom{
    color:  White;
}



/* 新規登録フォーム */
.registerMainVisual{
    margin: 0 auto;
    text-align: center;
    width: 280px;
    height: 450px;
    position: relative;
    top:30px;
    background: #0000002B;
    opacity:0.9;
}

.newForm{
    color:  White;
    padding: 35px 60px 35px 60px;
    font: normal normal normal 14px/21px Meiryo;
}

.formContent{
    width: 245px;
    display:flex;
    flex-flow: column;
    padding: 0px 18px 0px 5px;
}

.content{
    color:  White;
    margin:0 auto;
    width:50%;
}

.registerBottom{
    margin-left: 28%;
    padding: 10px;
}

.retuneBottom{
    color:  White;
}

.textColor{
    text-decoration:none;
    padding: 50px 30px 20px 30px;
    font: normal normal normal 12px/18px Meiryo;
}


/* 登録完了画面 */
.addedPage{
    margin: 0 auto;
    text-align: center;
    width: 280px;
    height: 255px;
    position: relative;
    top:100px;
    background: #0000002B;
    opacity:0.9;

}

.textAdded{
    color:  White;
    margin:0 auto;
    width:90%;
    padding: 20px 0px 20px 0px;
    font: normal normal normal 14px/21px Meiryo;
}

.addedUp{
    padding: 20px 0px 20px 0px;
}
.addedDown{
    padding: 20px 0px 20px 0px;
}

.loginBtn{
    text-decoration:none;
    font: normal normal normal 12px/18px Meiryo;
    color:  White;
}

/* top */

