@charset "utf-8";

html{
}
body{
}
/* header */
header{
  z-index: 3; /*重ね順を変更*/
    background:#3C4767;
    margin-top: auto;
    height: 75px;
}

/* メニュー*/

.rightMenu{
  z-index: 3; /*重ね順を変更*/
  display: flex;
}


.imgLogo{
  opacity: 0.8;
  width: 140px;
	height: 70px;
  position: absolute;
left: 30px;
}

.menuContent{
  position: absolute;
  right: 150px;
  top: 30px;
}

.menuUsername{
  z-index: 2; /*重ね順を変更*/
color: white;
}
.menu-box a{
  color: white;
}

.menuImage{
  z-index: 2; /*重ね順を変更*/
  width: 50px;
	height: 50px;
	border-radius: 50px;
  position: relative;
  left: 150px;
  bottom: 53px;

}

/* ハンバーガーメニュー */
li{
  list-style-type: none;
}

.menu-box{
  /* z-index: 1; 重ね順を変更 */
  position: fixed; /*表示位置を固定*/
  top: 74px; /*表示位置を指定*/
  right: 0px; /*表示位置を指定*/
  background:white; /*背景をグレーにする*/
  border: solid 2px;
  text-align: center; /*テキストを中央揃え*/
  color: #707070; /*文字色を黒にする*/
  width: 243px; /*全幅表示*/
  height: 277px;
  margin: 0 auto;
  padding: 50px 0;

  /* transition: all 0.5s; 変化を加えなくては効かない */
  /*transform: translateY(-100%); */
  /* 上からずらさず表示するか非表示にするかで分岐する方法に変更 */
  display:none;
}

/* .menu-box.active{
  transform: translateY(0%);
} */


.menu-box ul li{
  font-size: 20px;
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.menu-box ul li a{
  display: block; /*クリックできる領域を広げる*/
  color: gray;
  padding: 20px 0;
  text-decoration: none;
}

li.menu-item:hover{
	background-color: #E2563B;
  color: white;
}

/* トリガー */
.menu-trigger {
  z-index: 2; /*重ね順を変更*/
  cursor: pointer;
  /* z-index: 3; */
  width: 20px;
	height: 20px;
  position:relative;
  bottom: 15px;
  left: 110px;
}

.menu-trigger span {
  display: block;
  width: 12px;
  height: 12px;
  border-top: solid 2px white;
  border-right: solid 2px white;
  transform: rotate(135deg);
  transition: 0.20s ease-in-out;			/*変化の速度を指定*/
}


/* 選択された時のスタイルを指定 */
.menu-trigger.active span:nth-child(1) {
  top: 18px;
  transform: rotate(-45deg);

}




/* フォローリスト */
.listIcon{
  display: block;
  width: 1000px;
  height: 120px;
  border-bottom: 5px solid #D7D7D7;
  padding: 10px 10px 10px 10px ;

}




/*ボディ要素*/
/* 全体 */
#row{
    display: flex;
    flex-flow: row wrap;
    max-width: 1280px;
}

#container{
    flex: 0 0 80%;
}


/* サイドバー */
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.confirm{
  border-bottom: 1px solid #6C6C6C;
}

.followCount{
  width: 240px;
  height: 75px;
}

.followCount p{
  display: inline-block;
}

.followBtn{
  background-color: #3C4767;
  width: 138px;
  height: 43px;
  border-radius: 5px;
}
.followBtnFont{
  text-decoration: none;
  color: white;
  padding: 5px 5px 5px 5px;
  position:relative;
  top: 12px;
  left: 8px;

}
.followerBtn{
  background-color: #3C4767;
  width: 138px;
  height: 43px;
  border-radius: 5px;
}
.followerBtnFont{
  text-decoration: none;
  color: white;
  position:relative;
  top: 12px;
  left: 5px;

}
.userSearchBtn{
  background-color: #3C4767;
  width: 138px;
  height: 43px;
  border-radius: 5px;
}

.userSearchBtnFont{
  text-decoration: none;
  color: white;
  position:relative;
  top: 12px;
  left: 5px;
}




/* モーダルウィンドウ */
/* 要修正 */
.modal-main{
    display: none;
  }

  .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.65);
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .inner-content{
    text-align: center;
    background-color: rgb(145, 81, 81);
    margin: 200px 280px 100px;
    padding:  5% 0;
  }

  .inner-text{
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .modalClose{
    position:relative;
    top: 0px;
    left: 397px;
  }

  .modalCloseImage{
    width: 50px;
    height: 50px;
    
  }


  /* アイコン */
.iconImage{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

  /* 投稿 */
.upContainer{
  display: block;
  height: 80;
  border-bottom: 8px #666666;
}

tr{
  display: block;
  width: 1000px;
  height: 120px;
  border-bottom: 1px solid #D7D7D7;
  padding: 10px 10px 10px 10px ;
}

textarea {
  width: 900px;
  height: 10em;

  }
  .iconI{
    position:relative;
    top: 5px;
    left: 20px;
  }

  .nameI{
    position:relative;
    left: 40px;
    bottom: 25px;
  }

  .postI{
    position:relative;
    top: 5px;
    right: 20px;
  }

  .createdI{
    position:relative;
    left: 500px;
    bottom: 25px;
  }

  .modalopen{
    position:relative;
    top: 55px;
    left: 480px;
  }

  .btn{
    position:relative;
    top: 55px;
    left: 500px;
  }

  .iconImageG{
    width: 45px;
    height: 45px;
  }

/* プロフィール */
.profileIcon{
  position:relative;
  top: 100px;
  right:  30px;

}

.profileContainer{
  width: 200px;
  height: 400px;
  position:relative;
  top: 30px;
  left: 55px;

}
.cousinBtn{
  position:relative;
  top: 30px;
  left: 120px;
  background-color: #7B9979;
  width: 80px;
  height: 40px;
  border-radius: 10px;
 font-size: 16px;
 color: white;
}